PPMM.Middleware.Core.App/Service References/FNSSErpService/FnssErpService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43831/FnssErpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PPMM.Data.Model.Enumerations" />
  <xs:import schemaLocation="http://localhost:43831/FnssErpService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PPMM.Data.Model.Entities" />
  <xs:element name="PushShiftState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shiftId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PPMM.Data.Model.Enumerations" minOccurs="0" name="stateType" type="q1:ShiftStateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushShiftStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushShiftStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingWorkOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingWorkOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PPMM.Data.Model.Entities" minOccurs="0" name="GetWaitingWorkOrdersResult" nillable="true" type="q2:ArrayOfWorkOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>